<table class="tictactoe-board">
  <tbody>
    <tr>
      <td id="cell1" class="occupied-x">X</td>
      <td id="cell2" class="occupied-o">O</td>
      <td id="cell3" class="occupied-o">O</td>
    </tr>
    <tr>
      <td id="cell4" class="occupied-o">O</td>
      <td id="cell5" class="occupied-o">O</td>
      <td id="cell6" class="occupied-o">O</td>
    </tr>
    <tr>
      <td id="cell7" class="occupied-o">O</td>
      <td id="cell8" class="occupied-o">O</td>
      <td id="cell9" class="occupied-o">O</td>
    </tr>
  </tbody>
</table>

<h3>The winner is ...</h3>
<button>Restart</button>
